*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: white;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin: 0; 
    padding: 0; 
    background-image: url('flower.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    overflow: hidden;
}

h1{
    text-align: center;
    margin: 100px auto 30px;
    font-weight: 600;
    font-size: 60px;
}
h3{
    text-align: center;
    margin: 0px auto 30px;
}

form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background: #031D2C;
    display: flex;
    align-items: center;
    border-radius: 8px;
    position: relative;
}

form i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #d3d4d3;
    font-size: 24px;
}

form input{
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: #fff;
    font-size: 18px;
    padding: 0 30px;
    padding-left: 60px;
}

form button{
    padding: 0 40px;
    height: 100%;
    background: #ff3929;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

::placeholder{
    color: #d3d4d3;
    font-size: 18px;
}

@media (max-width: 600px) {
    form {
        height: 60px;
    }

    form i {
        font-size: 18px;
        left: 10px;
    }

    form input {
        font-size: 14px;
        padding-left: 40px;
    }
}

#show-more-btn{
    background: #ff3929;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s, color 0.3s;
}

form button:hover, #show-more-btn:hover {
    background-color: #ff5549;
    color: #fff;
}

form button:active, #show-more-btn:active {
    background-color: #e63f33;
    color: #fff;
}

#search-result{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

#search-result img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}